<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.model.tbldata.mapper.TbldataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.model.tbldata.entity.Tbldata">
        <id column="id" property="id" />
        <result column="provincecode" property="provincecode" />
        <result column="citycode" property="citycode" />
        <result column="stationcode" property="stationcode" />
        <result column="addresscode" property="addresscode" />
        <result column="command" property="command" />
        <result column="nextnumber" property="nextnumber" />
        <result column="cardnum1" property="cardnum1" />
        <result column="cardnum2" property="cardnum2" />
        <result column="cardnum3" property="cardnum3" />
        <result column="cardnum4" property="cardnum4" />
        <result column="stamp" property="stamp" />
        <result column="endweight" property="endweight" />
        <result column="grossweight" property="grossweight" />
        <result column="settingweight" property="settingweight" />
        <result column="clientid" property="clientid" />
        <result column="operatorid" property="operatorid" />
        <result column="gxcode" property="gxcode" />
        <result column="fscode" property="fscode" />
        <result column="frameid" property="frameid" />
        <result column="curtime" property="curtime" />
        <result column="usedtime" property="usedtime" />
        <result column="ticket" property="ticket" />
        <result column="qrcode" property="qrcode" />
        <result column="recordtime" property="recordtime" />
        <result column="machineno" property="machineno" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, provincecode, citycode, stationcode, addresscode, command, nextnumber, cardnum1, cardnum2, cardnum3, cardnum4, stamp, endweight, grossweight, settingweight, clientid, operatorid, gxcode, fscode, frameid, curtime, usedtime, ticket, qrcode, recordtime, machineno
    </sql>

    <select id="queryCountByDateTime"  resultType="java.lang.Integer">
        SELECT COUNT(*) FROM tbldata where recordtime &gt;= #{starttime} and recordtime &lt;= #{endtime}
    </select>

    <insert id="insertData" parameterType="com.model.tbldata.entity.Tbldata" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
      INSERT INTO tbldata (
        provincecode,
        citycode,
        stationcode,
        addresscode,
        command,
        nextnumber,
        cardnum1,
        cardnum2,
        cardnum3,
        cardnum4,
        stamp,
        endweight,
        grossweight,
        settingweight,
        clientid,
        operatorid,
        gxcode,
        fscode,
        frameid,
        remote_time,
        curtime,
        usedtime,
        ticket,
        qrcode,
        recordtime,
        machineno
      ) VALUES
      (
        #{provincecode},
        #{citycode},
        #{stationcode},
        #{addresscode},
        #{command},
        #{nextnumber},
        #{cardnum1},
        #{cardnum2},
        #{cardnum3},
        #{cardnum4},
        #{stamp},
        #{endweight},
        #{grossweight},
        #{settingweight},
        #{clientid},
        #{operatorid},
        #{gxcode},
        #{fscode},
        #{frameid},
        #{remoteTime},
        #{curtime},
        #{usedtime},
        #{ticket},
        #{qrcode},
        #{recordtime},
        #{machineno}
      )

    <selectKey resultType="int" keyProperty="id" order="AFTER">
        SELECT LAST_INSERT_ID()
    </selectKey>
    </insert>
    <!--
        RANK() OVER(ORDER BY curtime ASC) as seq,
        主要用于数据加上序号 <foreach collection="sCodes" open="(" close=")" separator="," item="item">#{item.value}</foreach><foreach collection="sCodes" open="(" close=")" separator="," item="item">#{item.value}</foreach>
    -->
    <select id="queryByPageSingleStation" resultType="com.model.tbldata.entity.TbldataRequltA">
        select RANK() OVER(ORDER BY curtime ASC) as seq, <include refid="Base_Column_List" /> from tbldata
        <where>
            <if test="pCode != 0"><![CDATA[ and provincecode = #{pCode} ]]></if>
            <if test="cCode != 0"><![CDATA[ and citycode = #{cCode} ]]></if>
            <if test="sCode != 0"><![CDATA[ and stationcode = #{sCode} ]]></if>
            <if test="query.selStationcode != null"><![CDATA[ and stationcode = #{query.selStationcode} ]]></if>
            <if test="query.selClientid != null"><![CDATA[ and clientid = #{query.selClientid} ]]></if>
            <if test="query.selOperatorid != null"><![CDATA[ and operatorid = #{query.selOperatorid} ]]></if>
            <if test="query.addresscode != null"><![CDATA[ and addresscode = #{query.addresscode}]]></if>
            <if test="query.fscodeType != null"><![CDATA[ and (gxcode div 128) = #{query.fscodeType} ]]></if>
            <if test="query.gxCodeType != null"><![CDATA[ and (gxcode mod 64) = (#{query.gxCodeType} * 16) ]]></if>
            <if test="query.command != null"><![CDATA[ and command = #{query.command} ]]></if>
            <if test="query.curtimeForm != null"><![CDATA[ and curtime >= #{query.curtimeForm} ]]></if>
            <if test="query.curtimeTo != null"><![CDATA[ and curtime <= #{query.curtimeTo} ]]></if>
            <if test="query.settingweight != null"><![CDATA[ and settingweight = #{query.settingweight} ]]></if>
            <if test="query.qrcode != null"><![CDATA[ and qrcode = #{query.qrcode} ]]></if>
        </where>
        order by curtime desc limit #{begin}, #{offset}
    </select>
    <select id="countByPageSingleStation" resultType="java.lang.Integer">
        select count(id) from tbldata
        <where>
            <if test="pCode != 0"><![CDATA[ and provincecode = #{pCode} ]]></if>
            <if test="cCode != 0"><![CDATA[ and citycode = #{cCode} ]]></if>
            <if test="sCode != 0"><![CDATA[ and stationcode = #{sCode} ]]></if>
            <if test="query.selStationcode != null"><![CDATA[ and stationcode = #{query.selStationcode} ]]></if>
            <if test="query.selClientid != null"><![CDATA[ and clientid = #{query.selClientid} ]]></if>
            <if test="query.selOperatorid != null"><![CDATA[ and operatorid = #{query.selOperatorid} ]]></if>
            <if test="query.addresscode != null"><![CDATA[ and addresscode = #{query.addresscode}]]></if>
            <if test="query.fscodeType != null"><![CDATA[ and (gxcode div 128) = #{query.fscodeType} ]]></if>
            <if test="query.gxCodeType != null"><![CDATA[ and (gxcode mod 64) = (#{query.gxCodeType} * 16) ]]></if>
            <if test="query.command != null"><![CDATA[ and command = #{query.command} ]]></if>
            <if test="query.curtimeForm != null"><![CDATA[ and curtime >= #{query.curtimeForm} ]]></if>
            <if test="query.curtimeTo != null"><![CDATA[ and curtime <= #{query.curtimeTo} ]]></if>
            <if test="query.settingweight != null"><![CDATA[ and settingweight = #{query.settingweight} ]]></if>
            <if test="query.qrcode != null"><![CDATA[ and qrcode = #{query.qrcode} ]]></if>
        </where>
    </select>
</mapper>
