<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.model.xk.mapper.XkDwMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.model.xk.entity.XkDw">
        <id column="id" property="id" />
        <result column="stationCode" property="stationCode" />
        <result column="name" property="name" />
        <result column="userCode" property="userCode" />
        <result column="userPass" property="userPass" />
        <result column="bz" property="bz" />
        <result column="updateAtonce" property="updateAtonce" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, stationCode, name, userCode, userPass, bz, updateAtonce
    </sql>

</mapper>
